# .env

# NestJs variables
PORT = 3001
CORS_ORIGIN=http://localhost:3000

# Configurações do Banco de Dados PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydatabase
POSTGRES_PORT=5432

# URL de Conexão para a Aplicação (o Docker Compose usará as variáveis acima)
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

# Segredos da Aplicação
JWT_SECRET=segredojwt
# usando o comando no git bash: openssl rand -hex 32
MASTER_KEY=CHAVEAES256

#SMTP VARIABLE
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER="seu@email.com"
SMTP_PASSWORD="suaapikey vide tutorial criaçao de api key no gmail"
EMAIL_FROM="OinkVest <no-reply@oinkvest.com.br>"

#Gerar a chave de 32 bytes usando o comando:
## (LINUX) ##  | openssl rand -hex 32 
##(WINDOWS) ## | powershell -Command "Add-Type -AssemblyName System.Security; [System.BitConverter]::ToString((New-Object System.Security.Cryptography.RNGCryptoServiceProvider).GetBytes(32)).Replace('-', '').ToLower()"
APP_ENCRYPTION_KEY=c5454cdc663772647d62d755b79410cb1523d9de1ad637c2564d97cac8230812 ##your-32-byte-secret-key
# Configuração da API Binance
BINANCE_API_URL=https://api.binance.com
