# API (NestJS) Configuration
NESTJS_API_PORT=18990
NESTJS_CORS_ORIGIN="http://localhost:3000" # Para produção, troque domínio de frontend,

# Frontend Configuration
NEXT_PUBLIC_PORT=18991
NEXT_PUBLIC_API_URL="http://localhost:3001"

# PostgreSQL Database Configuration
POSTGRES_USER=prod_user
POSTGRES_PASSWORD=prod_password_segura
POSTGRES_DB=oinkvest_prod
POSTGRES_PORT=18992
# Esta URL é usada pela API para se conectar ao banco de dados.
# O nome 'db_prod' corresponde ao nome do serviço do banco de dados no docker-compose.yml.
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db_prod:5432/${POSTGRES_DB}?schema=public"

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER="seu@email.com"
SMTP_PASSWORD="codigo de acesso smtp"
APP_URL="http://localhost:3000"
EMAIL_FROM="OinkVest <no-reply@oinkvest.com.br>"

# Application Secrets (GENERATE NEW VALUES FOR PRODUCTION)
# (LINUX) openssl rand -hex 32
JWT_SECRET=gere_um_novo_secret_jwt_para_producao
MASTER_KEY=gere_uma_nova_master_key_para_producao
APP_ENCRYPTION_KEY=gere_uma_nova_chave_de_32_bytes_para_producao

# Binance API Configuration
BINANCE_API_URL=https://api.binance.com

AI_PROVIDER=perplexity

# Chaves de API
PERPLEXITY_API_KEY=pplx-xxxxxxxxxxxxxxxxxxxx
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxx